$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

//Main colors
$base-color: #F9F9F9;

$main-background-color: #F9F9F9;

//utils
$baseDanger: #F63C3C;

//textColorBase
$menuColorBaseHover: #0A0A0A;

$menuColorBase: #878686;

//text title
$textTitle: #0a0a0a;