@import "_variables.scss";
@import "_fonts.scss";
@import "_typograph";
@import "_grid.scss";
@import "_menu.scss";
@import "_statusbar";
@import "_experiences";
@import "_portfolio";

body {
    font-family: 'lato';
    background-color: $base-color;

    @media screen and (min-width: 991px) {
        overflow: hidden;
    }

    @media screen and (min-width: 991px) {
        font-size: 20px;
    }
}

main {
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(312px, 2fr) 10fr;
    grid-template-areas: 'sidebar site';

    @media screen and (max-width: 991px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            'sidebar'
            'site'
        ;
    }
}

.sidebar {
    grid-area: sidebar;
    padding: 8rem 0 2rem;
    background-color: #fff;

    @media screen and (max-width: 991px) {
        padding-top: 3rem;
        background-color: transparent;
    }
}

.content {
    &-site {
        grid-area: site;
        padding: 0 5rem;
        height: 100vh;

        background-color: $main-background-color;

        @media screen and (max-width: 991px) {
            padding: 0 2rem;
        }

        @media screen and (min-width: 991px) {
            overflow-y: scroll;
        }
    }

    &-available {
        padding: 2rem 0 4.25rem;

        @media screen and (max-width: 991px) {
            display: none;
        }

        @media screen and (min-width: 991px) {
            justify-content: flex-end;
        }
    }

    &-section {
        margin-bottom: 2rem;
        background-color: #fff;

        @media screen and (max-width: 991px) {
            padding: 0.8rem;
        }

        @media screen and (min-width: 991px) {
            padding: 2rem;
        }

        .text-subtitle {
            margin-top: 0;
        }

        .list-items {
            .list-item {

                display: flex;
                gap: 1rem;
                margin-bottom: 50px;

                >img {
                    height: 70px;
                    width: 70px;
                }

                &-holder {
                    .text-list-title {
                        margin: 0;
                    }

                    .datetime {
                        margin: 0;

                        color: rgba(10, 10, 10, 0.53);
                        font-family: Oswald;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        text-transform: uppercase;
                    }
                }
            }
        }

        &.portfolio{
            padding: 0;
        }
    }
}

.avatar {
    &--image {
        max-height: 150px;
        max-width: 150px;
        overflow: hidden;
        border-radius: 50%;
    }
}